* {
  box-sizing: border-box;
}

input[type=number] {
  width: 100px;
}

@media only screen and (max-width: 979px) {
  .page-one {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 4;
    box-sizing: border-box;
  }

  .factors-ui {
    padding: 20px;
    border: black solid 1px;
    border-radius: 25px;
    grid-column: 1;
    grid-row: 1;
    max-width: 96vw;
    min-width: 350px;
  }

  .items {
    padding: 20px;
    border: black solid 1px;
    border-radius: 25px;
    grid-column: 1;
    grid-row: 2;
    max-width: 96vw;
  }

  .results {
    padding: 20px;
    border: black solid 1px;
    border-radius: 25px;
    grid-column: 1;
    grid-row: 4;
  }

  .generate-button {
    margin: 40px 20%;
    width: 60%;
    height: 50px;
    font-size: 1.2em;
    grid-column: 1;
    grid-row: 3;
  }

  .list-item {
    margin: 0px 10px;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    border: white solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item-prop {
    margin: 10px 0px;
  }

  .item-props {
    list-style: none;
    padding: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .list-item .item-delete-button {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 980px) {
  .page-one {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
  }

  .factors-ui {
    padding: 20px;
    border: black solid 1px;
    border-radius: 25px;
    grid-column: 1 / 2;
    grid-row: 1;
    min-width: 350px;
  }

  .items {
    padding: 20px;
    border: black solid 1px;
    border-radius: 25px;
    grid-column: 2 / 2;
    grid-row: 1;
    max-width: 96vw;
  }

  .results {
    padding: 20px;
    border: black solid 1px;
    border-radius: 25px;
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .generate-button {
    margin: 40px 20% 0 20%;
    width: 60%;
    height: 50px;
    font-size: 1.2em;
  }

  .list-item {
    margin: 0px 10px;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    border: white solid 1px;
    grid-column: 2 / 2;
    grid-row: 1;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .list-item p {
    margin-left: 5px;
    grid-column: 1;
  }

  .list-item .item-props {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .list-item .item-delete-button {
    grid-column: 4;
  }

  .item-prop {
    margin: 15px 0px;
  }

  .item-props {
    list-style: none;
    padding: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.ui-main {
  padding: 2vw;
}

.factors-wrapper {
  max-height: 40vh;
  overflow-y: scroll;
}

#factor-form label input {
  margin-left: 5px;
  margin-right: 5px;
}

.item-name input {
  margin-left: 5px;
  margin-right: 5px;
}

#factor-form select {
  margin-left: 5px;
  margin-right: 5px;
}

form label {
  margin-bottom: 10px;
  display: block;
}

.factor-measurement select {
  margin-left: 5px;
  margin-right: 5px;
}

.factor-form-desc {
  font-size: 0.8em;
}

.factor-form-submit {
  margin-top: 5px;
  padding: 5px;
  display: block;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.factor-list-title {
  margin-top: 35px;
}

.factor {
  padding: 10px;
  margin-left: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.factor-details {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

.factor-delete-button {
  grid-column: 4;
}

.factor-wrapper {
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: white solid 1px;
  display: flex;
  align-items: center;
}

.item-list {
  background-color: lightgray;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  max-height: 50vh;
  overflow-y: scroll;
}

.factor-weight input {
  margin-left: 5px;
}